
.row{
	column-count: 4;
	

}

.row2{
	column-count: 3 ;


}
.column{

 width: 80%;
 padding: 10px;
 padding-left: 72px;


 
}

.col1{
  padding-left: 50px;
  text-align: center;
}
.col2{
 text-align: center;
 
}

.col3{
 text-align: center;

}


img{
border: 1px solid #ddd;
border-radius: 5px;
padding: 5px;
width: 235px;
height: 200px;
object-fit:cover;

}

.col1 img{
border: 1px solid #ddd;
border-radius: 5px;
padding: 5px;
width: 350px;
height: 200px;
object-fit:cover;
}

.col2 img{
border: 1px solid #ddd;
border-radius: 5px;
padding: 5px;
width: 500px;
height: 415px;
object-fit:cover;
}

.col3 img{
border: 1px solid #ddd;
border-radius: 5px;
padding: 5px;
width: 350px;
height: 200px;
object-fit:cover;
}